@import "./vars";

body {
  background-color: $base-color;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;

  main {
    box-sizing: border-box;
    width: 70%;
    padding-top: 10%;
    height: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: $max-content;

    div {

      h1 {
        font-family: "Acme", sans-serif;
        color: $accent-white;
        font-size: 2rem;
      }
    }

    hr {
      color: $accent-gold;
      width: 100px;
      height: 2px;
    }

    .logBTN {
      width: 100px;
    }
  }
}



