
@import "./utils";

@import "./components/discover";
@import "./components/matches";
@import "./components/profile";
@import "./components/settings";
@import "./components/sign";
@import "./components/wrapper";
@import "./components/logout";

.show {
}

main {
    position: relative;

    section {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        transition: transform 0.3s ease-in-out;

        &:not(.show) {
            transform: translateX(100%);
        }
    }
}
