@import "./components/wrapper";
@import "./components/discover";
@import "./components/matches";
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Montserrat&display=swap');

.show {
    
}

main {
    position: relative;

    section {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        transition: transform .3s ease-in-out;

        &:not(.show) {
            transform: translateX(100%);
        }
    }
}