@import url("https://fonts.googleapis.com/css2?family=Acme&family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&family=Montserrat&display=swap");
body, html {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  width: 100vw;
  background-color: #10253c;
  color: white;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}

main {
  flex-grow: 1;
}

nav {
  width: 100%;
  box-sizing: border-box;
}
nav ul {
  background: #0b1928;
  display: flex;
  justify-content: space-around;
  padding: 1rem 2rem 2rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
nav li {
  color: white;
  padding: 0.2rem 1rem 0.5rem;
  font-size: 1.3rem;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
nav li.active {
  color: gold;
  transform: scale(1.2);
}

#page-discover:not(.show) {
  transform: translateX(-100%);
}
#page-discover header, #page-discover footer {
  padding: 1.5rem 1rem;
  display: flex;
  justify-content: space-between;
  font-family: "Acme", sans-serif;
  text-transform: uppercase;
}
#page-discover header button {
  background-color: transparent;
  border: 0;
  color: white;
  font-size: 1.2rem;
}
#page-discover footer {
  justify-content: center;
}
#page-discover footer button {
  background-color: #5A6676;
  border: 0;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  color: white;
  margin: 0 0.5rem;
  font-size: 1.3rem;
  line-height: 3rem;
  text-align: center;
}
#page-discover footer button:last-of-type {
  background-color: gold;
}
#page-discover #swipe-box {
  position: relative;
  padding: 0 1rem;
  flex-grow: 1;
}
#page-discover #swipe-box article {
  position: absolute;
  left: 1rem;
  top: 500%;
  transform: translateY(-500%) rotate(0deg);
  width: calc(100% - 2rem);
  height: 100%;
  border-radius: 1rem;
  overflow: hidden;
}
#page-discover #swipe-box article.active {
  z-index: 2;
}
#page-discover #swipe-box article figure {
  width: 100%;
  height: 100%;
  position: relative;
}
#page-discover #swipe-box article figure img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
#page-discover #swipe-box article figure figcaption {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 2rem 1rem;
  background-image: linear-gradient(to top, rgba(16, 37, 60, 0.5) 50%, transparent 100%);
}
#page-discover #swipe-box article figure figcaption button {
  background-color: transparent;
  border: 0;
  color: white;
  padding: 0;
}

#page-matches {
  overflow-y: scroll;
}
#page-matches > header, #page-matches > footer {
  padding: 1.5rem 1rem;
  display: flex;
  justify-content: center;
  font-family: "Acme", sans-serif;
  text-transform: uppercase;
}
#page-matches .match-box {
  padding: 1rem;
}
#page-matches .match-box article {
  height: 5rem;
  overflow: hidden;
  padding: 0.5rem 1.5rem 0.5rem 0.5rem;
  box-sizing: border-box;
  background: #0b1928;
  border-radius: 0.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#page-matches .match-box article header {
  display: flex;
}
#page-matches .match-box article header div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  margin-left: 0.2rem;
}
#page-matches .match-box article header div ul {
  display: flex;
}
#page-matches .match-box article header div ul li:not(:first-child) {
  margin-left: -2rem;
}
#page-matches .match-box article header div ul li img {
  width: 4rem;
  height: 2rem;
  object-fit: cover;
  -webkit-box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.123);
  -moz-box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.123);
  box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.123);
  border: 3px solid #0b1928;
  border-radius: 0.5rem;
}
#page-matches .match-box article header img {
  height: 4rem;
  width: 4rem;
  object-fit: cover;
  border-radius: 0.2rem;
}

#page-settings {
  z-index: 5;
  border: gold;
  border-radius: 20px;
  max-width: 400px;
  box-sizing: border-box;
  overflow-y: scroll;
}
#page-settings > header, #page-settings > footer {
  padding: 1.5rem 1rem;
  display: flex;
  justify-content: center;
  font-family: "Acme", sans-serif;
  color: white;
  text-transform: uppercase;
}
#page-settings form {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
#page-settings form label, #page-settings form input, #page-settings form textarea {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  color: white;
  padding: 5px;
}
#page-settings form input[type=submit] {
  background-color: transparent;
  border-radius: 20px;
  border: gold solid 1px;
  color: gold;
  margin-top: 20px;
  box-sizing: content-box;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.popup-wrapper {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  z-index: 4;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-button {
  padding-top: 10px;
  padding-right: 10px;
  float: right;
  color: gold;
}

main {
  position: relative;
}
main section {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  transition: transform 0.3s ease-in-out;
}
main section:not(.show) {
  transform: translateX(100%);
}

/*# sourceMappingURL=main.css.map */
